nav {
    background-color: white !important;
    color: #000 !important;
}

nav div a {
    color: black !important;
}

select{
    color: #000 !important;
}

.navbar-fixed nav {
    left: 0;
}

.navbar-fixed li select{
    display: inline-block;
    color: #000;
}

.navbar-fixed li input{
    color: black;
}

#navBarDatePicker {
    width:200px;
    text-align:center;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v17/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

}

a.brand-logo img {
    max-height: 60px;
    left: 14px;
    display: block;
    position: relative;
}

.pad40{
    padding: 40px 0;
}

.font20{
    font-size: 20px;
}

ul.bulleted, ul.bulleted li{
    list-style-type: circle;
}

.clearit{
    clear: both;
}
