body{
    background: url('/view/images/graphics/abstract-light-blue.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
ul, li{
    background-color: #fff;
}

.badge a{
    color: inherit;
}
.card-title {
    min-height: 20px;
    min-width: 100px;
}
.collapsible-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
}
.collapsible-header .badge, .badge-container-body .badge{
    float: right;
    /* height: 2em; */
    /* padding: 0px; */
    border-left: 1px solid;
    right: -5px;
    background: #fff;
    padding: 0px 7px;
    position: relative;
    color: white;
    border-radius: 5px;
    line-height: 30px;
    min-width: 2rem;
    margin-left: 9px;
    height: 29px;
}

.logoBadge{
     background-image: url('/src/logo.JPG');
    height: 30px !important;
    width: 30px !important;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.badge-container-body .badge{
    margin:7px 3.5px;
}

.checkboxComplete label {
    margin-bottom: -2px;
    margin-right: -5px;
}

.badge-container{
    margin-left:auto;
}

.badge-container-body{
    display:flex;
    flex-wrap:wrap;
}

.items {
    width:98%;
    margin-left:1%;
}

.section-header {
    border-bottom: 0px;
}

.card-title{
    display: inline-block;
    max-width:60%;
}
@media(min-width:0px) and (max-width: 600px){
    .card-title{
        max-width: 70%;
        width: 70%;
        /*margin-top: 2px;*/
        /*margin-bottom: -13px;*/
    }
}

.priority-badge{
    white-space: nowrap;
}


.badge-icon {
    font-size: 1.6rem !important;
    line-height: 29px !important;
    display: block;
    float: left;
    text-align: center;
    margin-right: -6px !important;
    margin-left: -5px !important;
}

.badge-text {
    margin-left:8px;
}

.category-badge {
    left: -16px;
    margin-right: -8px;
}

.section-header-text {
    width:50%;
}

.sort-badges .badge-icon {
    font-size:1.2em !important;
    color: #2c2c2c !important;
}

.selected-category .badge-icon {
    color:red !important;
}

.sort-badges .badge {
    background-color:#fff !important;
    cursor: pointer;
}

.sort-badges {
    max-width: 270px;
    margin: 0 auto;
    /*width: 181px;*/
}

@media (min-width: 0px) and (max-width: 600px){
    .sort-badges {
        width: 275px;
    }
}

.items-list {
    padding-top: 0px;
    margin-top: 0;
    line-height: 0;
    padding-bottom: 6px;
    margin-bottom: 0px;
}

.add-new-task, .completed {
    width: 95%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 6px;
}

.completed {
    margin-bottom: 0px;
}

.itemView .active .card-title {
    white-space: inherit;
    overflow: inherit;
    line-height: 1.4em;
    text-overflow: inherit;
}

.close-item{
    font-size:1.5em;
    width:25px;
    margin:0 auto;
    cursor:pointer;
}

.categorizerSection .categorizerSection {
    width:95%;
    margin:0 auto;
    margin-top:5px;
}

.empty-section.reveal {
    display: block !important;
}
.empty-section {
    display:none;
}

.badge-icon.hide-reveal{
    border-left: 1px solid #aaa;
    padding-left: 15px;
}

